@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,600&family=Yeseva+One&display=swap');

.root{
    display: grid;
    justify-content: space-around
}
.img{

width: 300px;
height: 300px;}
.text{
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin: 0;
    z-index: 12;
    padding-top: 0px;
    padding-bottom: 20px;
  }
