.root {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 250px 1fr;
    
}

.back,
.forward {
    /* align-items: center; */
    display: grid;
}


.back {
    width: min-content;
    justify-self: end;
    cursor: pointer;
}

.forward {
    width: min-content;
    justify-self:start;
    cursor: pointer;
}

.arrow {
    width: 20px;
    height: 20px;
    border-top: 5px solid hsl(80, 52%, 11%);
    border-right: 5px solid hsl(80, 52%, 11%);
    margin-right: 60px;


}

.arrow_back {
    /* transform: rotate(-135deg); */
    justify-self: end;
    display: flex;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid  #2d4403;


}

.arrow_forward {
    
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #2d4403;
}
.karta {
    width: min-content;
    text-align:center;
    justify: center;
}

