@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,600&family=Yeseva+One&display=swap');


    
  
  
  .button{
    width: auto;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat',Arial,sans-serif;
    line-height: 1.2;
    font-weight: 700;
    border-radius: 10px;
    background-color: #f08235;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    z-index: 13;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  .button_blue{
    background-color: #8ab7b2
  };
     
  .button__root{
   
    padding:10px 0px 10px 0;
  }


